@charset  "UTF-8";

    body{
        background-color:black;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px; 
        color:antiquewhite;
        display: flex;
        flex-direction: column;
        align-items: center; 
        height: 100vh; 
        margin: 0;

        .container {
            background-color: darkorange;
            border: 2px solid #000;
            padding: 20px;
            max-width: 800px; 
            text-align: center;
          }
    }
    h1{
        color: antiquewhite;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        text-align: center;
    }
    h2 {
        color: antiquewhite;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
         display: inline-block;
        text-align: center;
        left: 38%;
        right: 38%;
    }
    p{
        font-family: Arial, Helvetica, sans-serif;
        text-align: justify;
        font-size: small;
        text-align: center;

    }
    hr{
        border-color: black;
    }
    img{
        width:300px;
        position:sticky;
        left: 41%;
        right: 41%;
        }
  
  
            
          